<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCafta09ZFmeTrRY4OHAAQVsmv4TMxtrgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1065034490111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tiroideachas</string>
	<key>PROJECT_ID</key>
	<string>tir-oideachas</string>
	<key>STORAGE_BUCKET</key>
	<string>tir-oideachas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065034490111:ios:80a2ada1efb3425f5eacca</string>
</dict>
</plist>